<!DOCTYPE html>
<html>
<head>
    <title>an9wer's blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="%root_path%../statics/css/style.css" type="text/css" />
    <link rel="icon" href="%root_path%../statics/images/icon.jpg" type="image/jpeg" size="32x32"/>
</head>
<body>
<div id="main">
    <div id="header">
        <div id="headerLeft">
            <div id="name"><a href="%root_path%index.html">an9wer's blog</a></div>
            <div id="signature">just stick to it :)</div>
        </div>
        <div id="headerRight">
            <div id="avatar">
                <a href="https://github.com/an9wer" target="_blank"><img src="%root_path%../statics/images/avatar.jpg"></a>
            </div>
        </div>
    </div>
    <div id="navbar">
        <a id="blog" class="current" href="%root_path%index.html">Blog</a>
        <a id="notes" href="%root_path%../notes/index.html">Notes</a>
        <a id="tweet" href="%root_path%../tweet/index.html">Tweet</a>
        <a id="about" href="%root_path%../about.html">About</a>
    </div>
    <div id="post">
        <div id="title">%title%</div>
        <div id="content">%content%</div>
    </div>
    <div id="footer">
        <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">CC BY-NC-SA</a> 2018-2019 an9wer | powered by <a href="https://github.com/vimwiki/vimwiki" target="_blank">vimwiki</a>
    </div>
<div>
</body>
</html>
