@font-face {
    font-family: knewave;
    src: url(../fonts/knewave.ttf);
}

body {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #F3F3F3;
}

#main {
    width: 100%;
    max-width: 874px;
    margin: 24px auto;
    font-family: sans-serif;
    font-size: 1.08rem;
    font-weight: 300;
    line-height: 1.8;
}

#title, h1, h2, h3, h4, h5, h6 {
    font-family: Georgia,"Times New Roman",Times,serif;
    line-height: 1.1;
}

strong, b {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 1.2rem;
}

h1 {
    border-bottom: 1px solid #DDD;
    padding-bottom: 0.3em;
}

span.monospaced, code {
    border: solid 1px #CCC;
    border-radius: 3px;
    background-color: #DDD;
    padding: 0px 5px;
    margin: 0px 2px;
}

pre {
    border: solid 1px #CCC;
    border-radius: 3px;
    background-color: #DDD;
    padding: 5px 10px;
    overflow: auto;
}

strong {
    font-weight: 600;
}

.quoteblock, blockquote{
    background-color: #DDD;
    border-left:solid 4px #999;
    margin-left: 12px;
    padding: 12px 12px 12px 24px;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    border: 1px solid #999;
    padding: 0.2em 1em;
    font-size: 0.8rem;
}

th {
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
    font-width: 600;
}

tr:nth-child(odd) {
    background: #CCC;
}

/* header {{{ */
#header {
    height: 130px;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    padding-top: 24px;
}

#headerLeft {
    float: left;
    width: 80%;
    font-family: knewave;
}

#headerRight {
    float: right;
    width: 20%;
}

#header #name {
    height: 90px;
    font-size: 2.8rem;
    display: flex;
    align-items: center;
}

#header #signature {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

#header #avatar {
    width: 120px;
    height: 120px;
}

#header #avatar img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
}

#header a {
    text-decoration: none;
    color: #000;
}

#header a:hover {
    text-decoration: none;
    color: #666;
}
/* }}} header


/* navbar {{{ */
#navbar a {
    display: block;
    float: left;
    width: 24.5%;
    height: 2em;
    text-align: center;
    background-color: #DDD;
    border: solid 0.5px #CCC;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: #000;
}

#navbar a:hover {
    background-color: #8FBBE6;
    border: solid 0.5px #8FBBE6;
    color: #F3F3F3;;
}

#navbar .current {
    color: #F3F3F3;
    border: solid 0.5px #336699;
    background-color: #336699;
}

#blog {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#about {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* }}} navbar */


/* post {{{ */
#post {
    padding: 24px 48px 24px 48px;
}

#title {
    font-size: 2.375rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5%;
}

#content {
    margin-bottom: 5%;
}

#content a, #footer a {
    text-decoration: none;
    color: #336699;
}

#content a:hover, #footer a:hover {
    text-decoration: none;
    color: #8fbbe6;
}

#content img{
    display: block;
    margin: 0px auto;
}
/* }}} post */


/* footer {{{ */
#footer {
    padding-top: 10px;
    border-top: solid 1px #999;
    color: #333;
    text-align: center;
    font-size: small;
    font-family:"Courier New","Courier",monospace;
}
/* }}} footer */
