html {
    background-color: grey;
}

body {
    height: 1000px;
    color: white;
    width: 60%;
    margin: 0 auto;
    overflow-y: scroll;
}

header{
    background-color: black;
}

header h1 {
    text-align: center;
}

main {
    width: 100%;
    //min-height: 100%;
    position: relative;
}

main::before {
    content: "";
    width: 10px;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 30%;
}

article {
    margin-top: 3%;
    margin-bottom: 5%;
}

article::after {
    content: "";
    display: block;
    clear: both;
}

.datetime {
    padding: 0 5%;
    float: left;
    width: 20%;
    text-align: right;
}

.mind {
    padding: 0 10%;
    float: right;
    width: 50%;
}
