@font-face {
    font-family: knewave;
    src: url(../fonts/knewave.ttf);
}

body {
    margin: 0 5%;
    padding: 0;
    color: #000;
    background-color: #F3F3F3;
}

#main {
    width: 100%;
    max-width: 874px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: min(4vw, 1.08rem);
    font-weight: 300;
    line-height: 1.8;
}

#title, h1, h2, h3, h4, h5, h6 {
    font-family: Georgia,"Times New Roman",Times,serif;
    margin-top: 30px;
}

#title, h2, h3, h4, h5, h6 {
    position: relative;
    left: -2%;
}

strong, b {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 1.2rem;
}

span.literal, code {
    border: solid 1px #CCC;
    border-radius: 3px;
    background-color: #DDD;
    padding: 0px 5px;
    margin: 0px 2px;
}

span.strike {
    text-decoration: line-through;
}

pre {
    border: solid 1px #CCC;
    border-radius: 3px;
    background-color: #DDD;
    padding: 5px 10px;
    overflow: auto;
}

strong {
    font-weight: 600;
}

.quoteblock, blockquote{
    background-color: #DDD;
    border-left: solid 4px #999;
    margin-left: 12px;
    padding: 12px 12px 12px 24px;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    border: 1px solid #999;
    padding: 0.2em 1em;
    font-size: 0.8rem;
    white-space: nowrap;
}

thead {
    border-top: 3px solid #666;
    border-bottom: 3px solid #666;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    font-width: 600;
    background: #CCC;
}

tbody tr:nth-child(even) {
    background: #CCC;
}

/* header {{{ */
#header {
    height: 130px;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
}

#headerLeft {
    font-family: knewave;
    justify-content: start;
}

#headerRight {
    justify-content: end;
}

#header #name {
    height: 20vw;
    max-height: 90px;
    font-size: min(7vw, 2.8rem);
    #display: flex;
    #align-items: center;
}

#header #signature {
    font-size: min(3vw, 1rem);
    #display: flex;
    #align-items: center;
}

#header #avatar {
    width: 120px;
    height: 120px;
}

#header #avatar img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
}

#header a {
    text-decoration: none;
    color: #000;
}

#header a:hover {
    text-decoration: none;
    color: #666;
}
/* }}} header


/* navbar {{{ */
#navbar a {
    float: left;
    width: 24.5vw;
    max-width: 24.2%;
    height: 2em;
    text-align: center;
    background-color: #DDD;
    border: solid 0.5px #CCC;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: #000;
}

#navbar a:hover {
    background-color: #8FBBE6;
    border: solid 0.5px #8FBBE6;
    color: #F3F3F3;;
}

#navbar .current {
    color: #F3F3F3;
    border: solid 0.5px #336699;
    background-color: #336699;
}

#blog {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#tools {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* }}} navbar */


/* content {{{ */
#content {
    padding: 0% 4% 2% 4%;
    margin-bottom: 5%;
    font-family: serif;
}

#title {
    font-size: 2.375rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5%;
}

.docinfo {
    display: flex;
    justify-content: start;
    font-size: small;
    padding-bottom: 0.5em;
    color: #666;
}

.docinfo dd {
    margin: 0 5vw 0 0vw;
}

.docinfo dd p {
    margin: 0;
}

#content a, #footer a {
    text-decoration: none;
    color: #336699;
}

#content a:hover, #footer a:hover {
    text-decoration: none;
    color: #8fbbe6;
}

#content .imageblock img{
    display: block;
    margin: 0px auto;
}

#content .image {
}

#content ul {
    padding-left: 30px;
}

#content hr {
    border-top: 1px;
    color: #DDD;
}

.admonitionblock {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.admonitionblock .icon i {
    font-size: 2.25em;
    margin-right: 0.5em;
}

.admonitionblock .content {
    border-left: solid 2px #999;
    padding: 3px 0px 3px 24px;
}

.footnote-reference {
    vertical-align: super
}

.footnote p {
    display: inline;
}
/* }}} content */


/* footer {{{ */
#footer {
    padding-top: 10px;
    border-top: solid 1px #999;
    color: #333;
    text-align: center;
    font-size: small;
    font-family:"Courier New","Courier",monospace;
}
/* }}} footer */
